<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesac.sesacspring.mapper.BoardMapper">
    <select id="boards"
            resultType="com.sesac.sesacspring.domain.Board">
        SELECT boardUser.* FROM boardUser
    </select>
<!--    <delete id="deleteBoard" parameterType="int">-->
<!--        DELETE FROM boardUser WHERE id=#{id}-->
<!--    </delete>-->
</mapper>