<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- root부터 시작해야 하니까 /로 시작 -->
    <!-- static파일들은 middleware 설정 -->
    <img src="/<%=src%>" />
    <h4>title : <%=title%></h4>
</body>
</html>