<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stills The Show</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h2>Stills The Show</h2>
    <form name="user-form">
        <div>
            <input type="text" name="userid" placeholder="ID" />
            <input type="password" name="pw" placeholder="PASSWORD" />
            <button type="button" onclick="signUp()">Sign Up</button>
        </div>
        <div id="result">
        </div>
        <div>
            <p>Already Sign Up?</p>
            <a href="/login">Sign In Here</a>
        </div>
    </form>

    <script>
        function signUp() {
            const form = document.forms["user-form"];
            const data = {
                userid: form.userid.value,
                pw: form.pw.value,
                name: form.name.value
            }
            axios({
                method: "post",
                url: "/register",
                data: data
            }).then((res) => {
                const result = document.getElementById("result")
                const username = res.data.name
                result.innerHTML = `${username}님 가입을 환영합니다!`
            })
        }

    </script>
</body>
</html>