<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 상대 주소 참조용으로 만든 파일 : (views > index.js 파일의 localhost:8000/ejs 부분) -->
    <!-- 미들 웨어 사용해 정적 파일 접근 가능하게 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
    <div class="box"></div>
    <img src="/static/img/cloud.jpg" />
</body>
</html>