<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보</title>
</head>
<body>
    <h2>회원정보</h2>
    <form name="user-form">
        <input type="text" name="userid" placeholder="ID" />
        <br />
        <input type="password" name="pw" placeholder="PASSWORD" />
        <br />
        <button type="button" onclick="edit()">수정</button>
        <button type="button" onclick="del()">탈퇴</button>
    </form>
    
    <script>

    </script>
</body>
</html>