<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form prac</title>
</head>
<body>
    <form action="/post" method="post">
        <input required type="text" pattern="^([a-z0-9]){5,}$" title="소문자와 숫자로 5자 이상 입력하세요." name="id" />
        <input required type="password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" title="소문자, 대문자, 특수문자, 숫자를 최소 1개씩 사용해 8자 이상 입력하세요." name="pw" />
        <input required type="number" pattern="^[0-9]{3}-[0-9]{4}-[0-9]{4}" name="number" />
        <input required type="text" name="name" />
        <input required type="radio" name="gender" id="wm" value="wm"/><label for="wm">여</label>
        <input required type="radio" name="gender" id="m" value="m"/><label for="m">남</label>
        <div>
            <button type="submit">회원가입</button>
        </div>
    </form>
</body>
</html>