<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>[get 요청] LOGIN</h1>
    <!-- form 전송은 클라이언트가 서버로 데이터 보내는 방법 중 하나 -->

    <!-- get 요청 -->
    <!-- action: 요청 보낼 주소 -->
    <!-- 내 서버로 보내면 도메인 제외한 나머지 주소, 외부 도메인 주소면 '/' 앞에 작성 -->
    <!-- ex. localhost:8000/get/form -> '/get/form' -->
    <!-- method: 어떤 방식의 요청을 사용? get or host -->
    <form action="/get" method="get" target="_blank" name="login">
        <!-- name 속성이 쿼리의 key로 -->
        <fieldset>
            <legend>Login info</legend>
            <input type="text" name="id" />
            <input type="current-password" name="pw" />
        </fieldset>
        <input type="radio" name="gender" value="wm" id="wm"/> <label for="wm">Woman</label>
        <input type="radio" name="gender" value="m" id="m"/> <label for="m">Man</label>
        <!-- button type submit : 버튼을 감싸는 form 태그의 정보대로 제출 -->
        <button type="submit">Submit</button>
    </form>

    <script>
        console.log(document.forms["login"]);
        console.dir(document.forms["login"]);
    </script>

    <h1>[get 요청] SIGN UP</h1>
    <form action="/get2" method="get">
        <input type="text" name="id" />
        <input type="current-password" name="pw" />
        <input type="text" name="name" />
        <input type="email" name="email" />
        <button type="submit">Submit</button>
    </form>

    <!-- post 요청 -->
    <h1>[post 요청] SIGN UP</h1>
    <form action="/post/ver2" method="post">
        <input type="text" name="id" />
        <input type="current-password" name="pw" />
        <input type="text" name="name" />
        <input type="text" name="email" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>