<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC mysql prac</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h2>폼</h2>
    <form name="user-form">
        <input type="text" name="userid" placeholder="아이디"/>
        <br />
        <input type="password" name="pw" placeholder="비밀번호"/>
        <br />
        <input type="text" name="name" placeholder="이름"/>
        <br />
        <button type="button" onclick="userRegister()">회원가입</button>
        <button type="button" onclick="userLogin()">로그인</button>
        <div id="result"></div>
    </form>
    <hr />
    <script>
        // axios 요청으로 회원가입
        function userRegister() {
            const form = document.forms["user-form"]
                const data = {
                userid: form.userid.value,
                pw: form.pw.value,
                name: form.name.value
            }

            axios({
                method: "POST",
                url: "/register",
                data: data
            }).then((res)=>{
                const {name} = res.data
                const result = document.getElementById("result")
                result.innerHTML = `${name}님 가입을 환영합니다.`
                result.style.color = 'blue'
                // data.userid
                // data.pw
            })
        }

        function userLogin() {
            const form = document.forms["user-form"];
            const data = {
                userid: form.userid.value,
                pw: form.pw.value,
                name: form.name.value
            }

            axios({
                method: "POST", // 데이터 조회니까 get?
                url: "/users",
                data: data
            }).then((res) => {
                const result = document.getElementById("result")
                result.innerHTML = res.data.msg
            })
        }

    </script>
</body>
</html>