<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <form name="user-form">
        <div class="user-infos">
            <input class="user-infos_info" type="text" name="userid" placeholder="아이디"/>
            <br />
            <input class="user-infos_info" type="password" name="pw" placeholder="비밀번호"/>
            <br />
            <input class="user-infos_info" type="text" name="name" placeholder="이름"/>
        </div>
        <div>
            <button class="btn" type="button" onclick="userLogin()">로그인</button>
        </div>
        <div id="result"></div>
    </form>

    <script>
        function userLogin() {
            const form = document.forms["user-form"];
            const data = {
                userid: form.userid.value,
                pw: form.pw.value,
                name: form.name.value
            }

            axios({
                method: "POST",
                url: "/login",
                data: data
            }).then((res) => {
                const data = res.data;
                const result = document.getElementById("result");
                result.innerHTML = data.msg;

                data.flag ? result.style.color = 'blue' : result.style.color = 'red';
            })
        }        
    </script>
</body>
</html>