body {
    margin: 0px;
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: beige;
}

.box {
    /* position:static; is default 
    static 외 position이 와야 상하좌우 속성도 사용! */
    width: 100px;
    height: 100px;
}

.box-red {
    position: relative;
    left: 50px;
    top: 30px;
    background-color: red;
}

.box-orange {
    position: absolute;
    bottom: 100px;
    right: 30px;
    background-color: orange;
}

.box-yellow {
    position: fixed;
    top: 100px;
    right: 100px;
    background-color: yellow;
}

/* z-index */

.container_1 {
    position: relative;
    background-color: blue;
    height: 200px;
}


.item {
    position: absolute;
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
    z-index: 999;
}

.orange {
    background-color: orange;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.yellow {
    background-color: yellow;
    top: 40px;
    left: 40px;
    z-index: 1000;
}