/* font unit: px, em(부모 요소의 배율), rem(root+em=보통 html), % */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-size: 30px;
}

.parent {
    font-size: 30px;
}

.child-font {
    font-size: 1.5rem;
}

.font-css {
    font-size: 1.5em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.width-css {
    background-color: blue;
    display: inline-block;
    width: 500px;
    max-width: 100%;
    /* height: ;
    min-height: ;
    max-height: ; */
    color: white;
}

.border-css {
    border: 1px solid red;
    /* border-width: ;
    border-style: ;
    border-color: ; */
    border-radius: 10px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /* 50% 이상은 모두 circle */
    background-color: yellow;
}

.margin-css {
    border: 2px solid black;
    margin: 10px 30px 20px;
    padding: 50px 10px;
    background-color: blue;
    color: wheat;
}

.box-css {
    background-color: darkcyan;
    box-sizing: border-box;
    /* border-box는 border값에 맞춰서 content 크기 변화
    content-box는 content 값이 유지되어 padding에 따라 content 전체의 width, height 변화 */
    width: 160px;
    height: 160px;
    padding: 20px;
    /* padding은 요소의 width와 height에 변화를 줌
    width 160 + margin left 20 + right 20 = 200px*/
    border: 2px solid black;
}