/* 보통 컴포넌트별 css 파일을 사용(CSS 중복 방지) */
/* BUT 한 파일로 하고 싶다면 BEM 네이밍 규칙 잘 정해두기! */
/* ex) .FuncComponent_test-css--active{} */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test-css {
  background-color: yellow;
  font-size: 30px;
}

.hello-title {
  width: 100%;
  text-align: center;
  background-color: orange;
  color: wheat;
}

.hello-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hello-input {
  margin: 20px 0;
}

.Section__section {
  margin-bottom: 20px;
  border: 2px solid blue;
  padding: 10px 20px;
}

.Section__title {
  color: tomato;
}

.PracticeBook__container {
  background-color: blanchedalmond;
}

.PracticeBook__cover-title {
  text-align: center;
  color: tomato;
}

.PracticeBook__cover-img {
  width: 150px;
  height: 250px;
}

.PracticeBook__cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 40px 20px;
}

.product-card__img-body {
  position: relative;
}

.product-card__img {
  width: 250px;
  height: 250px;
}

.product-card__ranking {
  width: 40px;
  height: 40px;
  background-color: red;
  color: whitesmoke;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-weight: 600;
}

.product-card__info {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.product-card__brand-name {
  text-decoration: underline;
  margin-bottom: 7px;
  font-size: 13px;
}

.product-card__product-name {
  font-size: 12px;
  height: 32px;
  padding-right: 25px;
  word-break: break-all;
}

.product-card__original-price {
  opacity: 0.2;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-card__discount-rate,
.product-card__current-price {
  color: tomato;
  font-weight: 700;
  font-size: 14px;
  font-family: 'Lucida Grande', Impact, 'Arial Narrow Bold', sans-serif;
}

.product-card__icon-body {
  display: flex;
}

.product-card__like-body,
.product-card__comment-body {
  font-size: 11px;
  opacity: 0.9;
}

.product-card__like-body {
  margin-right: 50px;
}
